
.formItem{
    padding: 0% !important;
    margin-bottom: 0% !important;
}

.formItemhistory{
    padding: 0% !important;
    margin-bottom: 0% !important;
    justify-content: flex-end;
    display: flex;
}

.statusIn{
    padding: 3px;
    background-color: #009689;
    color: #ffffff;
}

.otform {
    :global {
        .ant-form-item-label {
            line-height: 20px !important;
        }

        .ant-form-item-control {
            line-height: 20px !important;
        }

        .ant-modal-footer {
            margin: 16px -24px -24px -24px;
        }

        .ant-form-item{
            margin-bottom: 2px !important;
        }
    }
}

.stepContent{
    display: flex;
    justify-content: center;
    margin: 30px 10px;
}

.stepCollapse{
    width: 100% !important;
}

.imageCollapse{
    margin: 1.6%;

    .imageList{
        width: 100%;
    }
}