@import "~antd/lib/style/themes/default.less";
.ant-table-body {
  overflow: hidden;
}

.standardTable {
  :global {
    .ant-table{
      line-height: 0.5 !important;
      font-size: 12px !important;
    }
    .ant-table-pagination {
      margin-top: 24px;
    }
    .ant-table-thead > tr > th {
      justify-content: center;
      white-space: pre-wrap;
      padding-right: 0px !important;
      line-height: 1 !important;      
    }
    .ant-table-tbody > tr > td:nth-child(2) {
      color: #1890FF;
      font-weight: bold;
    }
    .ant-table-tbody > tr > td {
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 7px;
      font-size: 12px;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
      padding-right: 2px !important;
      .description {
        width: 200px !important;
        height: 70px;
        white-space: initial;
      }
    }
    .ant-table-body {
      overflow: hidden;
      overflow-x: auto;
    }
    .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters, 
    .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters {
      padding-right: 0% !important;
      text-align: center !important;
    }    
  }

  .tableFooter {
    display: flex;
    .footerInfo {
      font-size: 14px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      display: inline-block;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 1;
    }
    :global {
      .ant-pagination {
        float: right;
        text-align: right;
        margin-left: auto;
        transition: right .3s;
      }
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}

.selected td{
  // border-top: solid 2px #feb434 !important;
  // border-bottom: solid 2px #feb434 !important;
  // border-right: solid 1px #feb434 !important;
  // border-left: solid 1px #feb434 !important;
  // border-top: solid 1px #feb434 !important;
  // background-color: @geekblue-5 !important;
  background-color: #fdda9e !important;
  // color: #fff;
}

.formItem{
  display: flex;
  padding: 0% !important;
  margin: 0% !important;
  max-height: 30px !important;
  min-height: 30px !important;
}

.collapse{
  :global{
    .ant-collapse-item{
      .ant-collapse-content{
        .ant-collapse-content-box{
          padding: 0% !important;
        }        
      }
    }
  }
}

.title{
  display: flex;
  justify-content: flex-end;
}

.negativeValue{
  color: rgb(255, 0, 0) !important;
}

.boldText{
  font-weight: bold;

  :global {
    .ant-input-wrapper{
      .ant-input{
        font-weight: bold;
      }
    }
  }
}

.rigth{
  display: flex !important;
  justify-content: flex-end !important;
}

.center{
  display: flex !important;
  justify-content: center !important;
}

.left{
  display: flex !important;
  justify-content: flex-start !important;
}

.disabled{
  color: rgba(0, 0, 0, 0.65) !important;

  :global {
    .ant-input-wrapper{
      .ant-input{
        color: rgba(0, 0, 0, 0.65) !important;
      }
    }
  }
}

.parent{
  display: flex;
  flex-direction: row;
}

.column{
  flex: 1 1 0px;
}

.statusOne{
  padding: 0px !important;
  background-color: #2D85C1 !important;
  color: #ffffff !important;
  text-align: center !important;
  font-size: 12px;
  width: 200px;
}

.statusTwo{
  padding: 0px !important;
  background-color: #FFAF00 !important;
  color: #ffffff !important;
  text-align: center !important;
  font-size: 12px;
  width: 200px;
}

.statusThree{
  padding: 0px !important;
  background-color: #16A58A !important;
  color: #ffffff !important;
  text-align: center !important;
  font-size: 12px;
  width: 200px;
}

.statusOneM{
  :global{
    .ant-input{
      padding: 0px !important;
      background-color: #2D85C1 !important;
      color: #ffffff !important;
      text-align: center !important;
    }
  }
}

.statusTwoM{
  :global{
    .ant-input{
      padding: 0px !important;
      background-color: #FFAF00 !important;
      color: #ffffff !important;
      text-align: center !important;
    }
  } 
}

.statusThreeM{
  :global{
    .ant-input{
      padding: 0px !important;
      background-color: #16A58A !important;
      color: #ffffff !important;
      text-align: center !important;
    }
  }  
}